* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: $main-font;
  
  font-weight: 300;
  font-size: 16px;
  line-height: 27px;
}

p {
  margin-top: 0;
  margin-bottom: 25px;
}

hr {
  display: block;
  margin-bottom: 60px;
  margin-top: 60px;
  width: 38%;
  max-width: 555px;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  height: 1px;
  background: #9e9e9e;
  overflow: visible;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -4.5px;
    margin-top: -5px;
    width: 9px;
    height: 9px;
    border: 1px solid #9e9e9e;
    background: $white;
    border-radius: 50%;
  }
}

.container {
  max-width: 585px;
  padding: 0 15px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.dot {
  display: inline-block;
  width: 7px;
  height: 7px;
  background: $white;
  border: 1px solid #9e9e9e;
  border-radius: 50%;
  margin: 0 15px;
}
