extends ../templates/main

block variables
  - var currentPageLink = '/blog.html'
  - var title = 'Блог про Fronted - Иван Быстрицкий'
  - var descr = 'Путь разработчика c ZERO до HERO. Как учился, что делал, как ищу работу и работаю. О учебных проектах, практике и много интересного.'

block content

  -
    var posts = [
      {
        title: 'Сделал первое тестовое задание',
        publish: '6 Сентября, 2021',
        slug: 'sunrise-test',
      }
    ]

  .container
    each post in posts
      article.article
        p.article__text= post.title
        span.article__date= post.publish
        a.article__link(href="/blog/" + post.slug + ".html")
          span.hidden Читать далее

block scripts