extends ../templates/main

block variables
  - var currentPageLink = '/index.html'
  - var title = 'Иван Быстрицкий - Frontend разработка'
  - var descr = 'Мой персональный блог и сайт портфолио на которм интересно. Работы, исходный код, новые достижения, котакты и инфорация обо мне здесь.'

block content
  include ../blocks/promo

block scripts