extends ../templates/main

block variables
  - var currentPageLink = '/portfolio.html'
  - var title = 'Портфолио - Иван Быстрицкий'
  - var descr = 'Мои работы и проекты, которые я завершил и готов показать.'

block content

  -
    var works = [
      {
        title: 'FOOD POS - React приложение с собственной UI библиотекой',
        publish: '25 Августа, 2021',
        slug: 'food-pos',
        screenshot: 'food_pos.png',
      },
      {
        title: 'React Pizza - React приложение со State менеджером и роутингом',
        publish: '14 Августа, 2021',
        slug: 'react-pizza',
        screenshot: 'react_pizza.png',
      },
      {
        title: '"Живой" лендинг - верстка с анимациями',
        publish: '',
        slug: 'mntn-landing',
        screenshot: 'mntn.png',
      },
      {
        title: 'Крутое приложение помидорка таймера',
        publish: '',
        slug: 'pomodoro-timer',
        screenshot: 'pomodoro.png',
      },
      {
        title: 'Калькулятор стоимости с визуализацией товара в зависимости от выбранных параметров',
        publish: '',
        slug: 'visual-calc',
        screenshot: 'vcalc.png',
      },
      {
        title: 'Адаптивная верстка лендинга',
        publish: '',
        slug: 'trafalgar',
        screenshot: 'trafalgar.png',
      },
    ]

  .container
    each work in works
      article.article
        img.img-fluid(src="/img/screenshots/" + work.screenshot)
        .article__data
          p.article__text= work.title
          span.article__date= work.publish
        a.article__link(href="/portfolio/" + work.slug + ".html")
          span.hidden Читать далее

block scripts