extends templates/main

block variables
  - var currentPageLink = 'about.html'
  - var title = 'О сайте'
  - var descr = 'Просто страничка о сайте'

block content
  .container
    h1.h1 About
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    -
      var lists = [
        {
          color: 'red',
          title: 'Skills',
          items: [
            {
              type: 'big',
              text: 'HTML – Jade – Haml – Erb',
            },
            {
              type: 'big',
              text: 'HTML – Jade – Haml – Erb',
            },
            {
              type: 'small',
              text: 'HTML – Jade – Haml – Erb',
            },
            {
              type: 'big',
              text: 'HTML – Jade – Haml – Erb',
            },
          ]
        },
        {
          color: 'green',
          title: 'Projects',
          items: [
            {
              type: 'big',
              text: 'HTML – Jade – Haml – Erb',
            },
            {
              type: 'big',
              text: 'HTML – Jade – Haml – Erb',
            },
            {
              type: 'extra-big',
              text: 'HTML – Jade – Haml – Erb',
            },
          ]
        }
      ]
    
    each list in lists
      h3.h3=list.title
      
      ul.list(class=list.color)
        each item in list.items
          li(clas=item.type)=item.text

block scripts