extends templates/main

block variables
  - var currentPageLink = 'blog.html'
  - var title = 'Интересный пост'
  - var descr = 'Читай!'

block content
  .container
    //- Post
    article.post
      h1.h1.text-center Hello world!

      //- Post meta
      div.post__meta
        .post__meta-author
          img(src="https://picsum.photos/100/100", alt="")
          span Eliza
        i.dot
        span.post__meta-date August 5, 2019
      
      .post__content
        img(src="https://picsum.photos/500/300", alt="", style="width: 100%")
        p
        p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line.
        p Etiam nec purus urna. Integer dictum, arcu et fringilla facilisis, nunc enim suscipit mi, vel mattis leo urna a sem. Ut fringilla, mauris eros porttitor dui, nec bibendum mauris justo eu dui. Nullam sit amet quam eu massa varius euismod vel ut arcu. Sed a dictum neque. Aliquam sapien nulla, venenatis id finibus at, eleifend a turpis. Aliquam ac nibh id lorem ornare accumsan maximus at mauris.
        h2 Pellentesque tristique lacus ut sem sagittis tempus.
        p Nulla facilisi. Aliquam congue, turpis non vulputate pharetra, turpis sem dapibus eros, suscipit egestas nulla quam nec libero. Vivamus at velit vestibulum, molestie nisl in, fermentum eros. Morbi non congue nulla. Donec mollis lacus erat, euismod consectetur nisi lacinia et. Aliquam erat volutpat. Nam condimentum, nibh vel viverra ullamcorper, lorem velit pulvinar purus, sed imperdiet purus purus ut velit.
    
    -
      var links = [
        { img: "tw.svg", link: "#" },
        { img: "fb.svg", link: "#" },
        { img: "goog.svg", link: "#" },
        { img: "lid.svg", link: "#" },
      ]


    .sare
      span Share on Internet:
      ul.sare__links
        each link in links
          li
            a(href=link.link)
              img(src="img/"+link.img, alt="")

    h2.h2 Join the Conversation

    h3 Leave a Reply
    p(style="max-width: 400px") Your email address will not be published. Required fields are marked *

    form(action="")

      .form-item
        label Comment
        textarea.form-control(rows="5")

      .form-item
        label Name *
        input(type="text").form-control

      .form-item
        label Email *
        input(type="text").form-control

      .form-item
        label Website
        input(type="text").form-control
      
      .form-item 
       label
        input(type="checkbox")
        span Save my name, email, and website in this browser for the next time I comment.
      
      button.btn.btn-primary(type="submit") Post Comment

block scripts