extends templates/main

block variables
  - var currentPageLink = 'index.html'
  - var title = 'Главная страница!'
  - var descr = 'Самая главная страница на которой вы сможете ознакомиться со всей основной информацией ...'

block content
  include blocks/promo

block scripts