.form-item {
  margin-bottom: 30px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 14px;
  border: 1px solid #C4C4C4;
  border-radius: 0;
  outline: none;

  &:focus {
    border: 1px solid $primary;
  }
}